name: Notify libraries

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  notify:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.ADYEN_AUTOMATION_BOT_ACCESS_TOKEN }}
    steps:
      - name: Node.js 
        run: gh workflow run models.yml -R Adyen/adyen-node-api-library
      - name: Java 
        run: gh workflow run models.yml -R Adyen/adyen-java-api-library
      - name: .NET 
        run: gh workflow run models.yml -R Adyen/adyen-dotnet-api-library
      - name: Postman 
        run: gh workflow run trigger-postman.yml -R Adyen/adyen-postman